In [1]:
import pandas as pd
import numpy as np
import dash
from dash import Dash, dcc, html, dash_table
import dash_bootstrap_components as dbc
import plotly.express as px
import plotly.graph_objects as go
from dash.dependencies import Input, Output

### Explatory Data Analysis with Dashboard for Supermarket Sales Dataset

The main aim of this project is to analyse the Supermarket Sales dataset to create an interactive analytical dashboard that analyses the performance of the supermarket's overall activity together with individual branches. 

The analysis will perform explanatory data analysis based on:
   >1. Total weekly and daily sales, cost of goods and gross profit for the supermarket combined and individual branches.
   >2. Customer types
   >3. Product line and rating.

The dataset has the following features:
* Invoice id: Computer generated sales slip invoice identification number
* Branch: Branch of supercenter (3 branches are available identified by A, B and C).
* City: Location of supercenters
* Customer type: Type of customers, recorded by Members for customers using member card and Normal for without member card.
* Gender: Gender type of customer
* Product line: General item categorization groups - Electronic accessories, Fashion accessories, Food and beverages, Health and beauty, Home and lifestyle, Sports and travel
* Unit price: Price of each product in dollars
* Quantity: Number of products purchased by customer
* Tax 5%: tax fee for customer buying
* Total: Total price including tax
* Date: Date of purchase (Record available from January 2019 to March 2019)
* Time: Purchase time (10am to 9pm)
* Payment: Payment used by customer for purchase (3 methods are available â€“ Cash, Credit card and Ewallet)
* COGS: Cost of goods sold
* Gross margin percentage: Gross margin percentage
* Gross income: Gross income
* Rating: Customer stratification rating on their overall shopping experience (On a scale of 1 to 10)
  
The dataset can be found [Here](https://www.kaggle.com/datasets/aungpyaeap/supermarket-sales/code)

In [5]:
#create a data frame

df=pd.read_csv('Sales Dataset _with Correction.csv')
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price to be sold at,Quantity sold,Tax 5%,Total,Date,Time,Payment,COGS,gross margin percentage(unit),gross profit,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.14,548.97,1/5/2019,13:08,Ewallet,256.19,51,266.64,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.82,80.22,3/8/2019,10:29,Cash,23.68,69,52.72,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.22,340.53,3/3/2019,13:23,Credit card,162.16,50,162.16,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.29,489.05,1/27/2019,20:33,Ewallet,218.91,53,246.85,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.21,634.38,2/8/2019,10:37,Ewallet,193.33,68,410.84,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.02,42.37,1/29/2019,13:46,Ewallet,14.93,63,25.42,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.69,1022.49,3/2/2019,17:16,Ewallet,331.09,66,642.71,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.59,33.43,2/9/2019,13:22,Cash,10.19,68,21.65,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.29,69.11,2/22/2019,15:33,Cash,21.72,67,44.10,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.92,649.30,2/18/2019,13:28,Cash,253.54,59,364.84,6.6

In [6]:
#check data type
df.dtypes

Invoice ID                        object
Branch                            object
City                              object
Customer type                     object
Gender                            object
Product line                      object
Unit price to be sold at         float64
Quantity sold                      int64
Tax 5%                           float64
Total                            float64
Date                              object
Time                              object
Payment                           object
COGS                             float64
gross margin percentage(unit)      int64
gross profit                     float64
Rating                           float64
dtype: object

In [7]:
#change the date format to dt
df['Date']=pd.to_datetime(df['Date'])
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price to be sold at,Quantity sold,Tax 5%,Total,Date,Time,Payment,COGS,gross margin percentage(unit),gross profit,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.14,548.97,2019-01-05,13:08,Ewallet,256.19,51,266.64,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.82,80.22,2019-03-08,10:29,Cash,23.68,69,52.72,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.22,340.53,2019-03-03,13:23,Credit card,162.16,50,162.16,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.29,489.05,2019-01-27,20:33,Ewallet,218.91,53,246.85,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.21,634.38,2019-02-08,10:37,Ewallet,193.33,68,410.84,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.02,42.37,2019-01-29,13:46,Ewallet,14.93,63,25.42,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.69,1022.49,2019-03-02,17:16,Ewallet,331.09,66,642.71,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.59,33.43,2019-02-09,13:22,Cash,10.19,68,21.65,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.29,69.11,2019-02-22,15:33,Cash,21.72,67,44.10,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.92,649.30,2019-02-18,13:28,Cash,253.54,59,364.84,6.6

In [8]:
# get the month name
df['Month'] = df['Date'].dt.month_name()
df['Day'] = df['Date'].dt.day_name()
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price to be sold at,Quantity sold,Tax 5%,Total,Date,Time,Payment,COGS,gross margin percentage(unit),gross profit,Rating,Month,Day
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.14,548.97,2019-01-05,13:08,Ewallet,256.19,51,266.64,9.1,January,Saturday
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.82,80.22,2019-03-08,10:29,Cash,23.68,69,52.72,9.6,March,Friday
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.22,340.53,2019-03-03,13:23,Credit card,162.16,50,162.16,7.4,March,Sunday
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.29,489.05,2019-01-27,20:33,Ewallet,218.91,53,246.85,8.4,January,Sunday
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.21,634.38,2019-02-08,10:37,Ewallet,193.33,68,410.84,5.3,February,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.02,42.37,2019-01-29,13:46,Ewallet,14.93,63,25.42,6.2,January,Tuesday
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.69,1022.49,2019-03-02,17:16,Ewallet,331.09,66,642.71,4.4,March,Saturday
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.59,33.43,2019-02-09,13:22,Cash,10.19,68,21.65,7.7,February,Saturday
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.29,69.11,2019-02-22,15:33,Cash,21.72,67,44.10,4.1,February,Friday
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.92,649.30,2019-02-18,13:28,Cash,253.54,59,364.84,6.6,February,Monday

In [9]:
# get the week number
df['Week'] = df['Date'].dt.isocalendar().week
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price to be sold at,Quantity sold,Tax 5%,Total,Date,Time,Payment,COGS,gross margin percentage(unit),gross profit,Rating,Month,Day,Week
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.14,548.97,2019-01-05,13:08,Ewallet,256.19,51,266.64,9.1,January,Saturday,1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.82,80.22,2019-03-08,10:29,Cash,23.68,69,52.72,9.6,March,Friday,10
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.22,340.53,2019-03-03,13:23,Credit card,162.16,50,162.16,7.4,March,Sunday,9
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.29,489.05,2019-01-27,20:33,Ewallet,218.91,53,246.85,8.4,January,Sunday,4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.21,634.38,2019-02-08,10:37,Ewallet,193.33,68,410.84,5.3,February,Friday,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.02,42.37,2019-01-29,13:46,Ewallet,14.93,63,25.42,6.2,January,Tuesday,5
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.69,1022.49,2019-03-02,17:16,Ewallet,331.09,66,642.71,4.4,March,Saturday,9
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.59,33.43,2019-02-09,13:22,Cash,10.19,68,21.65,7.7,February,Saturday,6
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.29,69.11,2019-02-22,15:33,Cash,21.72,67,44.10,4.1,February,Friday,8
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.92,649.30,2019-02-18,13:28,Cash,253.54,59,364.84,6.6,February,Monday,8

In [10]:
df['Time'] = pd.to_datetime(df.Time)

C:\Users\tes2s\AppData\Local\Temp\ipykernel_19664\1659202431.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df.Time)

In [11]:
df.dtypes

Invoice ID                               object
Branch                                   object
City                                     object
Customer type                            object
Gender                                   object
Product line                             object
Unit price to be sold at                float64
Quantity sold                             int64
Tax 5%                                  float64
Total                                   float64
Date                             datetime64[ns]
Time                             datetime64[ns]
Payment                                  object
COGS                                    float64
gross margin percentage(unit)             int64
gross profit                            float64
Rating                                  float64
Month                                    object
Day                                      object
Week                                     UInt32
dtype: object

In [12]:
# find all the categories in the dataset

for col in df.columns:
    if df[col].dtype == object and col!='Invoice ID':
        print(f'The categories for {col} is: {df[col].unique()}')
        print("")

The categories for Branch is: ['A' 'C' 'B']

The categories for City is: ['Yangon' 'Naypyitaw' 'Mandalay']

The categories for Customer type is: ['Member' 'Normal']

The categories for Gender is: ['Female' 'Male']

The categories for Product line is: ['Health and beauty' 'Electronic accessories' 'Home and lifestyle'
 'Sports and travel' 'Food and beverages' 'Fashion accessories']

The categories for Payment is: ['Ewallet' 'Cash' 'Credit card']

The categories for Month is: ['January' 'March' 'February']

The categories for Day is: ['Saturday' 'Friday' 'Sunday' 'Monday' 'Thursday' 'Wednesday' 'Tuesday']

#### Aggregate the braches sales

In [14]:
#Branch A
a_branch = df[df['Branch']== 'A']
a_branch

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price to be sold at,Quantity sold,Tax 5%,Total,Date,Time,Payment,COGS,gross margin percentage(unit),gross profit,Rating,Month,Day,Week
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.14,548.97,2019-01-05,2024-08-15 13:08:00,Ewallet,256.19,51,266.64,9.1,January,Saturday,1
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.22,340.53,2019-03-03,2024-08-15 13:23:00,Credit card,162.16,50,162.16,7.4,March,Sunday,9
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.29,489.05,2019-01-27,2024-08-15 20:33:00,Ewallet,218.91,53,246.85,8.4,January,Sunday,4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.21,634.38,2019-02-08,2024-08-15 10:37:00,Ewallet,193.33,68,410.84,5.3,February,Friday,6
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.65,433.69,2019-02-25,2024-08-15 14:36:00,Ewallet,202.39,51,210.65,5.8,February,Monday,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,886-18-2897,A,Yangon,Normal,Female,Food and beverages,56.56,5,14.14,296.94,2019-03-22,2024-08-15 19:06:00,Credit card,132.92,53,149.88,4.5,March,Friday,12
992,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,5.80,121.86,2019-03-10,2024-08-15 20:46:00,Ewallet,54.55,53,61.51,8.8,March,Sunday,10
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.59,33.43,2019-02-09,2024-08-15 13:22:00,Cash,10.19,68,21.65,7.7,February,Saturday,6
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.29,69.11,2019-02-22,2024-08-15 15:33:00,Cash,21.72,67,44.10,4.1,February,Friday,8
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.92,649.30,2019-02-18,2024-08-15 13:28:00,Cash,253.54,59,364.84,6.6,February,Monday,8

In [15]:
#get branch b
b_branch = df[df['Branch']== 'B']
b_branch

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price to be sold at,Quantity sold,Tax 5%,Total,Date,Time,Payment,COGS,gross margin percentage(unit),gross profit,Rating,Month,Day,Week
9,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.84,3,8.23,172.75,2019-02-20,2024-08-15 13:27:00,Credit card,78.97,52,85.55,5.9,February,Wednesday,8
10,351-62-0822,B,Mandalay,Member,Female,Fashion accessories,14.48,4,2.90,60.82,2019-02-06,2024-08-15 18:07:00,Ewallet,18.53,68,39.39,4.5,February,Wednesday,6
11,529-56-3974,B,Mandalay,Member,Male,Electronic accessories,25.51,4,5.10,107.14,2019-03-09,2024-08-15 17:03:00,Cash,40.82,60,61.22,6.8,March,Saturday,10
15,299-46-1805,B,Mandalay,Member,Female,Sports and travel,93.72,6,28.12,590.44,2019-01-15,2024-08-15 16:19:00,Cash,168.70,70,393.62,4.5,January,Tuesday,3
19,319-50-3348,B,Mandalay,Normal,Female,Home and lifestyle,40.30,2,4.03,84.63,2019-03-11,2024-08-15 15:30:00,Ewallet,33.85,58,46.75,4.4,March,Monday,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987,552-44-5977,B,Mandalay,Member,Male,Health and beauty,62.00,8,24.80,520.80,2019-01-03,2024-08-15 19:08:00,Credit card,208.32,58,287.68,6.2,January,Thursday,1
989,430-53-4718,B,Mandalay,Member,Male,Health and beauty,75.37,8,30.15,633.11,2019-01-28,2024-08-15 15:46:00,Credit card,289.42,52,313.54,8.4,January,Monday,5
991,602-16-6955,B,Mandalay,Normal,Female,Sports and travel,76.60,10,38.30,804.30,2019-01-24,2024-08-15 18:10:00,Ewallet,245.12,68,520.88,6.0,January,Thursday,4
993,690-01-6631,B,Mandalay,Normal,Male,Fashion accessories,17.49,10,8.75,183.65,2019-02-22,2024-08-15 18:35:00,Ewallet,78.71,55,96.20,6.6,February,Friday,8
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.69,1022.49,2019-03-02,2024-08-15 17:16:00,Ewallet,331.09,66,642.71,4.4,March,Saturday,9

In [16]:
#get branch c
c_branch = df[df['Branch']== 'C']
c_branch

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price to be sold at,Quantity sold,Tax 5%,Total,Date,Time,Payment,COGS,gross margin percentage(unit),gross profit,Rating,Month,Day,Week
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.82,80.22,2019-03-08,2024-08-15 10:29:00,Cash,23.68,69,52.72,9.6,March,Friday,10
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.89,627.62,2019-03-25,2024-08-15 18:30:00,Ewallet,203.23,66,394.50,4.1,March,Monday,13
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.78,772.38,2019-02-24,2024-08-15 11:38:00,Ewallet,228.04,69,507.56,8.0,February,Sunday,8
20,300-71-4605,C,Naypyitaw,Member,Male,Electronic accessories,86.04,5,21.51,451.71,2019-02-25,2024-08-15 11:24:00,Ewallet,133.36,69,296.84,4.8,February,Monday,9
34,183-56-6882,C,Naypyitaw,Member,Female,Food and beverages,99.42,4,19.88,417.56,2019-02-06,2024-08-15 10:42:00,Ewallet,139.19,65,258.49,7.5,February,Wednesday,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.99,734.71,2019-01-23,2024-08-15 10:33:00,Cash,307.88,56,391.84,6.1,January,Wednesday,4
984,189-40-5216,C,Naypyitaw,Normal,Male,Electronic accessories,96.37,7,33.73,708.32,2019-01-09,2024-08-15 11:40:00,Cash,242.85,64,431.74,6.0,January,Wednesday,2
988,267-62-7380,C,Naypyitaw,Member,Male,Electronic accessories,82.34,10,41.17,864.57,2019-03-29,2024-08-15 19:12:00,Ewallet,370.53,55,452.87,4.3,March,Friday,13
994,652-49-6720,C,Naypyitaw,Member,Female,Electronic accessories,60.95,1,3.05,64.00,2019-02-18,2024-08-15 11:40:00,Ewallet,19.50,68,41.45,5.9,February,Monday,8
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.02,42.37,2019-01-29,2024-08-15 13:46:00,Ewallet,14.93,63,25.42,6.2,January,Tuesday,5

### Group the branche's customer based on customer type

In [18]:
#get branch members
a_branch_members = a_branch[a_branch['Customer type']=='Member']
a_branch_members

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price to be sold at,Quantity sold,Tax 5%,Total,Date,Time,Payment,COGS,gross margin percentage(unit),gross profit,Rating,Month,Day,Week
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.14,548.97,2019-01-05,2024-08-15 13:08:00,Ewallet,256.19,51,266.64,9.1,January,Saturday,1
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.29,489.05,2019-01-27,2024-08-15 20:33:00,Ewallet,218.91,53,246.85,8.4,January,Sunday,4
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.65,433.69,2019-02-25,2024-08-15 14:36:00,Ewallet,202.39,51,210.65,5.8,February,Monday,9
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.63,76.15,2019-01-10,2024-08-15 17:15:00,Credit card,33.36,54,39.16,7.2,January,Thursday,2
16,656-95-9349,A,Yangon,Member,Female,Health and beauty,68.93,7,24.13,506.64,2019-03-11,2024-08-15 11:03:00,Credit card,236.43,51,246.08,4.6,March,Monday,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
961,324-92-3863,A,Yangon,Member,Male,Electronic accessories,20.89,2,2.09,43.87,2019-02-05,2024-08-15 18:45:00,Cash,14.21,66,27.57,9.8,February,Tuesday,6
967,195-06-0432,A,Yangon,Member,Male,Home and lifestyle,81.01,3,12.15,255.18,2019-01-13,2024-08-15 12:55:00,Credit card,94.78,61,148.25,9.3,January,Sunday,2
982,139-32-4183,A,Yangon,Member,Female,Sports and travel,97.48,9,43.87,921.19,2019-03-14,2024-08-15 14:19:00,Ewallet,333.38,62,543.94,7.4,March,Thursday,11
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.59,33.43,2019-02-09,2024-08-15 13:22:00,Cash,10.19,68,21.65,7.7,February,Saturday,6
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.92,649.30,2019-02-18,2024-08-15 13:28:00,Cash,253.54,59,364.84,6.6,February,Monday,8

In [19]:
#get the non-members
a_branch_normal = a_branch[a_branch['Customer type']=='Normal']
a_branch_normal

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price to be sold at,Quantity sold,Tax 5%,Total,Date,Time,Payment,COGS,gross margin percentage(unit),gross profit,Rating,Month,Day,Week
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.22,340.53,2019-03-03,2024-08-15 13:23:00,Credit card,162.16,50,162.16,7.4,March,Sunday,9
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.21,634.38,2019-02-08,2024-08-15 10:37:00,Ewallet,193.33,68,410.84,5.3,February,Friday,6
12,365-64-0515,A,Yangon,Normal,Female,Electronic accessories,46.95,5,11.74,246.49,2019-02-12,2024-08-15 10:25:00,Ewallet,89.21,62,145.55,7.1,February,Tuesday,7
13,252-56-2699,A,Yangon,Normal,Male,Food and beverages,43.19,10,21.60,453.50,2019-02-07,2024-08-15 16:48:00,Ewallet,190.04,56,241.86,8.2,February,Thursday,6
14,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.69,749.49,2019-03-29,2024-08-15 19:21:00,Cash,242.69,66,471.11,5.7,March,Friday,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,221-25-5073,A,Yangon,Normal,Female,Food and beverages,74.66,4,14.93,313.57,2019-03-04,2024-08-15 10:39:00,Cash,149.32,50,149.32,8.5,March,Monday,10
981,809-46-1866,A,Yangon,Normal,Male,Health and beauty,58.15,4,11.63,244.23,2019-01-23,2024-08-15 17:44:00,Cash,97.69,58,134.91,8.4,January,Wednesday,4
990,886-18-2897,A,Yangon,Normal,Female,Food and beverages,56.56,5,14.14,296.94,2019-03-22,2024-08-15 19:06:00,Credit card,132.92,53,149.88,4.5,March,Friday,12
992,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,5.80,121.86,2019-03-10,2024-08-15 20:46:00,Ewallet,54.55,53,61.51,8.8,March,Sunday,10
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.29,69.11,2019-02-22,2024-08-15 15:33:00,Cash,21.72,67,44.10,4.1,February,Friday,8

In [20]:
min_per = df['Date'].min()
max_per = df['Date'].max()
min_per, max_per

(Timestamp('2019-01-01 00:00:00'), Timestamp('2019-03-30 00:00:00'))

In [21]:
#Total figures df
total_sales = round(df['Total'].sum(),2)
gross_profit = round(df['gross profit'].sum(),2)
cog = round(df['COGS'].sum(),2)
average_gross_per = round(df['gross margin percentage(unit)'].mean(),2)
cust_rate = round(df['Rating'].mean(),2)

In [22]:
#Total figures branch A
A_total_sales = round(a_branch['Total'].sum(),2)
A_gross_profit = round(a_branch['gross profit'].sum(),2)
A_average_gross_per = round(a_branch['gross margin percentage(unit)'].mean(),2)
A_cog = round(a_branch['COGS'].sum(),2)
A_cust_rate = round(a_branch['Rating'].mean(),2)
A_total_sales

106200.57

In [23]:
#Total figures branch B
B_total_sales = round(b_branch['Total'].sum(),2)
B_gross_profit = round(b_branch['gross profit'].sum(),2)
B_average_gross_per = round(b_branch['gross margin percentage(unit)'].mean(),2)
B_cog = round(b_branch['COGS'].sum(),2)
B_cust_rate = round(b_branch['Rating'].mean(),2)

In [24]:
#Total figures branch C
C_total_sales = round(c_branch['Total'].sum(),2)
C_gross_profit = round(c_branch['gross profit'].sum(),2)
C_average_gross_per = round(c_branch['gross margin percentage(unit)'].mean(),2)
C_cog = round(c_branch['COGS'].sum(),2)
C_cust_rate = round(c_branch['Rating'].mean(),2)

In [25]:
app = dash.Dash(__name__,external_stylesheets=[dbc.themes.BOOTSTRAP])

In [26]:
app.layout = html.Div([
    dbc.Row([html.H1('Supermarket Sales Dashboard.'),
            html.A('Link to the dataset', href='https://www.kaggle.com/datasets/aungpyaeap/supermarket-sales/code', target='_blank')

            ], style={'background-color':'#80cdc1', 'margin':'5px','border-radius':'10px', 'font-size':'12px'}),
    
    
    dbc.Row([
        dbc.Col([html.H1('Reporting\nPeriod: 01/01/2019-30/03/2019',style={'font-size':'16px', 'padding-top':'20px'})],style={'background-color':'#dfc27d', 'margin':'10px','border-radius':'25px'}),
        dbc.Col([html.H1(id='total-sales', style={'font-size':'16px', 'padding-top':'20px'})],style={'background-color':'#dfc27d','margin':'10px','border-radius':'25px'}),
        dbc.Col([html.H1(id='gross_profit',style={'font-size':'16px', 'padding-top':'20px'})],style={'background-color':'#dfc27d','margin':'10px','border-radius':'25px'}),
        dbc.Col([html.H1(id='average_gross%',style={'font-size':'16px', 'padding-top':'20px'})],style={'background-color':'#dfc27d','margin':'10px','border-radius':'25px'}),
        dbc.Col([html.H1(id='cog', style={'font-size':'16px', 'padding-top':'20px'})],style={'background-color':'#dfc27d','margin':'10px','border-radius':'25px'}),
        dbc.Col([html.H1(id='cust_rate', style={'font-size':'16px', 'padding-top':'20px'})],style={'background-color':'#dfc27d','margin':'10px','border-radius':'25px'})
        
    ]),
    
        dbc.Row([dcc.RadioItems(
            id='supermarket',
            options=[{'label':'Combined Total', 'value':'df'},
                 {'label': 'Branch A', 'value': 'a_branch'},
                 {'label': 'Branch B', 'value': 'b_branch'},
                 {'label': 'Branch C', 'value': 'c_branch'}               
                ], 
            value='df',
            labelStyle={'display': 'in-line'}),
            
             
            ],style={'margin':'5px'}),
    dbc.Row([dbc.Col([dcc.Graph(id='sales_trend', figure={})], width=6),
             dbc.Col([dcc.Graph(id='avarage_sales', figure={})], width=6)
            ]),
    
    dbc.Row([dbc.Col([dcc.Graph(id='product_per_analysis', figure={}, config={'displayModeBar':False})
                     ]),
             dbc.Col([dcc.Graph(id='pyment_method', figure={}, config={'displayModeBar': False}),
                 
             ])
        
    ])
       
    
], style={'margin':'10px', 'back-ground':'#ffffcc'})

In [27]:
@app.callback(
    Output('total-sales', 'children'),
    [Input('supermarket', 'value')]
)

def update_output(user_select):
    if user_select == 'df':
        return f'Total Sales: {total_sales:,}'
    elif user_select == 'a_branch':
        return f'Total Sales: {A_total_sales:,}'
    elif user_select == 'b_branch':
        return f'Total Sales: {B_total_sales:,}'
    elif user_select == 'c_branch':
        return f'Total Sales: {C_total_sales:,}'
####################################################

@app.callback(
    Output('gross_profit', 'children'),
    [Input('supermarket', 'value')]
)

def update_output_g(user_select_g):
    if user_select_g == 'df':
        return f'Gross Profit: {gross_profit:,}'
    elif user_select_g == 'a_branch':
        return f'Gross Profit: {A_gross_profit:,}'
    elif user_select_g == 'b_branch':
        return f'Gross Profit: {B_gross_profit:,}'
    elif user_select_g == 'c_branch':
        return f'Gross Profit: {C_gross_profit:,}'
    
####################################################

@app.callback(
    Output('average_gross%', 'children'),
    [Input('supermarket', 'value')]
)

def update_output_(user_select_):
    if user_select_ == 'df':
        return f'Gross Profit %: {average_gross_per:,}'
    elif user_select_ == 'a_branch':
        return f'Gross Profit %: {A_average_gross_per:,}'
    elif user_select_ == 'b_branch':
        return f'Gross Profit %: {B_average_gross_per:,}'
    elif user_select_ == 'c_branch':
        return f'Gross Profit %: {C_average_gross_per:,}'
####################################################

@app.callback(
    Output('cog', 'children'),
    [Input('supermarket', 'value')]
)

def update_output_c(user_select_c):
    if user_select_c == 'df':
        return f'Cost of Goods: {cog:,}'
    elif user_select_c == 'a_branch':
        return f'Cost of Goods: {A_cog:,}'
    elif user_select_c == 'b_branch':
        return f'Cost of Goods: {B_cog:,}'
    elif user_select_c == 'c_branch':
        return f'Cost of Goods: {C_cog:,}'
    
#####################################################
@app.callback(
    Output('cust_rate', 'children'),
    [Input('supermarket', 'value')]
)

def update_output_r(user_select_r):
    if user_select_r == 'df':
        return f'Average Customer Rating: {cust_rate:,}'
    elif user_select_r == 'a_branch':
        return f'Average Customer Rating: {A_cust_rate:,}'
    elif user_select_r == 'b_branch':
        return f'Average Customer Rating: {B_cust_rate:,}'
    elif user_select_r == 'c_branch':
        return f'Average Customer Rating: {C_cust_rate:,}'

In [28]:
#Sales line graph

@app.callback(
    [Output('sales_trend', 'figure')],
    [Input('supermarket', 'value')]

)

def update_sales_graph(user_select):
    
    if user_select == 'df':
        df_grouped = df.groupby('Week').sum(numeric_only=True).round(2) 
        fig = px.line(df_grouped, x= df_grouped.index, y=df_grouped['Total'], title=f'Combined Weekly Sales.',markers='o')
        fig.update_traces(line_color='#a6611a')
        fig.add_annotation(x=10, y=17300, text='Week 8 is <br> a week that<br> the supermarket has<br> recorded the least sales.', showarrow=False)
        fig.update_layout(xaxis={'showgrid':False})
        
        return(fig,)
    
    elif user_select == 'a_branch':
        A_grouped = a_branch.groupby('Week').sum(numeric_only=True).round(2) 
        A_grouped_min = A_grouped['Total'].min()
        A_grouped_min_ind = A_grouped.idxmin()
        
        fig = px.line(A_grouped, x= A_grouped.index, y=A_grouped['Total'], title=f'Branch A Weekly Sales.',markers='o')
        fig.update_traces(line_color='#a6611a')
        fig.add_annotation(x=11, y=5536.83, text='Week 8 is <br> a week that<br> the Branch A has<br> recorded the least sales.', showarrow=True, arrowsize=12)
        fig.update_layout(xaxis={'showgrid':False})
        return (fig,)
    
    elif user_select == 'b_branch':
        B_grouped = b_branch.groupby('Week').sum(numeric_only=True).round(2)
        fig = px.line(B_grouped, x= B_grouped.index, y=B_grouped['Total'],title=f'Branch B Weekly Sales.',markers='o')
        fig.update_traces(line_color='#a6611a')
        fig.add_annotation(x=10, y=5812, text='Week 8 is <br> a week that<br> the Branch B has<br> recorded the least sales.', showarrow=True, arrowsize=12)
        fig.update_layout(xaxis={'showgrid':False})
        
        return(fig,)
    
    elif user_select == 'c_branch':
        C_grouped = c_branch.groupby('Week').sum(numeric_only=True).round(2)
        fig = px.line(C_grouped, x= C_grouped.index, y=C_grouped['Total'],title=f'Branch C Weekly Sales.',markers='o' )
        fig.update_traces(line_color='#a6611a')
        fig.add_annotation(x=11, y=5979, text='Week 8 is <br> a week that<br> the Branch C has<br> recorded the least sales.', showarrow=True, arrowsize=12)
        fig.update_layout(xaxis={'showgrid':False})
        
        return(fig,)

In [29]:
#average sales

@app.callback(
    [Output('avarage_sales', 'figure')],
    [Input('supermarket', 'value')]

)


def update_sales_graph(user_select):
    days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    
    if user_select == 'df':
        df_grouped = df.groupby('Day').mean(numeric_only=True).reindex(days)
        fig = px.line(df_grouped, x= df_grouped.index, y=df_grouped['Total'], title=f'Combined Average Daily Sales.', markers='o')
        fig.update_traces(line_color='#a6611a')
        fig.add_annotation(x='Friday', y=310, text='Saturday is <br> the maximum sales recorded.<br> the supermarket has<br> the least sales recorded on Monday.', showarrow=False)
        
        fig.update_layout(xaxis={'showgrid':False})
        
        return(fig,)
    
    elif user_select == 'a_branch':
        A_grouped = a_branch.groupby('Day').sum(numeric_only=True).reindex(days)
        
        fig = px.line(A_grouped, x= A_grouped.index, y=A_grouped['Total'], title=f'Branch A Average Daily Sales.',markers='o')
        fig.update_traces(line_color='#a6611a')
        fig.add_annotation(x='Friday', y=14000, text='Sunday has the<br> maximum sales recorded.<br> the supermarket has<br> the least sales recorded on Wednesday.', showarrow=False)
        fig.update_layout(xaxis={'showgrid':False})
        return (fig,)
    
    elif user_select == 'b_branch':
        B_grouped = b_branch.groupby('Day').sum(numeric_only=True).reindex(days) 
        fig = px.line(B_grouped, x= B_grouped.index, y=B_grouped['Total'],title=f'Branch B Average Daily Sales.',markers='o')
        fig.update_traces(line_color='#a6611a')
        fig.add_annotation(x='Thursday', y=12000, text='While Saturday has<br> the maximum sales<br> Sunday has the minimum sales.', showarrow=False)
        fig.update_layout(xaxis={'showgrid':False})
        
        return(fig,)
    
    elif user_select == 'c_branch':
        C_grouped = c_branch.groupby('Day').sum(numeric_only=True).reindex(days) 
        fig = px.line(C_grouped, x= C_grouped.index, y=C_grouped['Total'],title=f'Branch C Average Daily Sales.',markers='o' )
        fig.update_traces(line_color='#a6611a')
        fig.update_layout(xaxis={'showgrid':False})
        fig.add_annotation(x='Wednesday', y=12000, text='Tuseday has<br> the minimum sales<br> while Saturday has the maximum sales.', showarrow=False)
        
        
        return(fig,)

In [30]:
# graph product_per_analysis

@app.callback(
    [Output('product_per_analysis', 'figure')],
    [Input('supermarket', 'value')]

)

def update_sales_graph(user_select):
    
    if user_select == 'df':
        df_perf = df.groupby('Product line').sum(numeric_only=True)
        fig = px.bar(df_perf, x= df_perf.index, y=df_perf['Total'],color=df_perf.index,
                     color_discrete_map={'Electronic accessories':'#01665e', 'Fashion accessories':'#d8b365',
                                        'Food and beverages':'#8c510a','Health and beauty': '#01665e',
                                        'Home and lifestyle':'#c7eae5', 'Sports and travel':'#f6e8c3'},
                                         title=f'Combined Product Line Sales.')
       
        
        return(fig,)
    
    elif user_select == 'a_branch':
        
        A_pref = a_branch.groupby('Product line').sum(numeric_only=True) 
        fig = px.bar(A_pref, x= A_pref.index,
                     y=A_pref['Total'],
                     color=A_pref.index,
                     color_discrete_map={'Electronic accessories':'#01665e', 'Fashion accessories':'#d8b365',
                                        'Food and beverages':'#8c510a','Health and beauty': '#01665e',
                                        'Home and lifestyle':'#c7eae5', 'Sports and travel':'#f6e8c3'},
                                        title=f'Branch A Product Line Sales.')
      
        
        return (fig,)
    
    elif user_select == 'b_branch':
        B_pref = b_branch.groupby('Product line').sum(numeric_only=True) 
        fig = px.bar(B_pref, x= B_pref.index, 
                     y=B_pref['Total'],
                     color=B_pref.index,
                     color_discrete_map={'Electronic accessories':'#01665e', 'Fashion accessories':'#d8b365',
                                        'Food and beverages':'#8c510a','Health and beauty': '#01665e',
                                        'Home and lifestyle':'#c7eae5', 'Sports and travel':'#f6e8c3'},
                     title=f'Branch B Product Line Sales.')
        
        return(fig,)
    
    elif user_select == 'c_branch':
        C_pref = c_branch.groupby('Product line').sum(numeric_only=True) 
        fig = px.bar(C_pref, x= C_pref.index, 
                     y=C_pref['Total'],
                     color=C_pref.index,
                     color_discrete_map={'Electronic accessories':'#01665e', 'Fashion accessories':'#d8b365',
                                        'Food and beverages':'#8c510a','Health and beauty': '#01665e',
                                        'Home and lifestyle':'#c7eae5', 'Sports and travel':'#f6e8c3'},
                     title=f'Branch C Product Line Sales.' )
       
        return(fig,)

In [31]:
# graph member and payment type

@app.callback(
    [Output('pyment_method', 'figure')],
    [Input('supermarket', 'value')]

)

def update_sales_graph(user_select,):
    
    if user_select == 'df':
        fig = px.sunburst(df, path=['Customer type', 'Payment', 'Gender'], values='Total', color='Customer type', color_discrete_sequence=px.colors.qualitative.Pastel, title='Customer Segmentation by Membership, Payment Type and Gender')
        return(fig,)
    
    elif user_select == 'a_branch':
        
        fig = px.sunburst(a_branch, path=['Customer type', 'Payment','Gender'], values='Total', color='Customer type', color_discrete_sequence=px.colors.qualitative.Pastel,title='Customer Segmentation by Membership, Payment Type and Gender')
        return (fig,)
    
    elif user_select == 'b_branch':
        
        fig = px.sunburst(b_branch, path=['Customer type', 'Payment', 'Gender'], values='Total', color='Customer type', color_discrete_sequence=px.colors.qualitative.Pastel,title='Customer Segmentation by Membership, Payment Type and Gender')
        return(fig,)
    
    elif user_select == 'c_branch':
        
        fig = px.sunburst(c_branch, path=['Customer type', 'Payment', 'Gender'], values='Total', color='Customer type',color_discrete_sequence=px.colors.qualitative.Pastel,title='Customer Segmentation by Membership, Payment Type and Gender')
        return(fig,)

In [32]:
if __name__ == '__main__':
    app.run(debug=False, jupyter_mode='tab')

Dash app running on http://127.0.0.1:8050/